@use '/src/mixins.scss';

.cartDetail {
  height: 100%;
  width: 100%;

  position: fixed;
  right: 0;

  display: flex;

  background-color: rgba(156, 163, 175, 0.7);

  z-index: 50;

  transition-property: width;
  transition-duration: 1.5s;
  @include mixins.timing-fast-in-slow-out;

  & > .leftSideEmptyPart {
    flex-grow: 1;
  }

  & > .realCart {
    width: 100vw;
    @include mixins.notPhoneVertical {
      width: clamp(23rem, calc(100% / 3), 32rem);
    }
    min-height: 12rem;

    /* top | left and right | bottom */
    padding: 1.7rem 1.7rem 1rem;

    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    overflow-y: auto;

    background-color: white;

    & > .closeBtn {
      @include mixins.button;

      width: 2.5rem;
      aspect-ratio: 1/1;

      padding: 0;
      margin-bottom: 0.3rem;

      & > .closeBtnImg {
        height: 100%; // safari only
        width: 100%; // safari only

        padding: 0.3rem;

        border-radius: 50%;

        background-color: rgb(229 231 235);
      }
    }

    & > .cartContent {
      //class='mt-2 flex-grow flex-shrink overflow-y-auto scroll-smooth'
      flex-grow: 1;

      overflow-y: scroll;
    }

    & > .total {
      margin: 1rem 0;

      text-align: center;
    }

    & > .chechoutBtn {
      @include mixins.button;
      @include mixins.flex-and-center;

      padding: 0.5rem;

      border-radius: 999rem;

      background-color: gray;

      & > .checkoutBtnImg {
        height: 90%;
        width: 2rem;
        aspect-ratio: 1/1;

        margin: auto 0.2rem;
      }

      & > .checkoutBtnText {
        color: white;
        font-size: 1.3rem;
      }
    }
  }
}
