.cartDetail {
  height: 100%;

  position: fixed;
  right: 0;

  display: flex;

  z-index: 50;

  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;

  &>.bgShadow{
    width: 100%;
    // class='<md:hidden w-full h-full flex-grow bg-gray-400 bg-opacity-800'

  }
}
