@use '/src/mixins.scss';

$navbar-height: 5rem;

nav {
  width: 100%;
  height: $navbar-height;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: fixed;
  top: 0;

  /* top | left and right | bottom */
  padding: 1.5rem 1rem 0.8rem;

  $round-radius: 0.75rem;
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 0 0 $round-radius $round-radius;

  box-shadow: 0 0 1rem 0 #ccc;

  z-index: 10;

  & > * {
    margin: 0 0.5rem;
  }

  & > b {
    font-size: 1.1rem;
  }

  & > .avatarBtn {
    @include mixins.button;
    @include mixins.flex-and-center;

    height: 100%;
    aspect-ratio: 1/1;

    & > img {
      height: 100%;

      border-radius: 50%;
      box-shadow: 0.05rem 0.05rem 0.5rem 0 #ccc;

      object-fit: contain;
    }
  }
}

nav + .navBarOffsetAboveBody {
  height: $navbar-height;

  flex-shrink: 0;
}
