@use '/src/mixins.scss';

$navbar-height: 5rem;

.shadow {
  box-shadow: 0.05rem 0.05rem .5rem 0 #ccc;
}


nav {
  width: 100%;
  height: $navbar-height;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: fixed;
  top: 0;

  /* top | left and right | bottom */
  padding: 1.5rem 1rem .8rem;

  $round-radius: .75rem;
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 0 0 $round-radius $round-radius;

  box-shadow: 0 0 1rem 0 #ccc;

  z-index: 10;

  &>* {
    margin: 0 .5rem;
  }

  &>.cartBtn {
    @include mixins.button;
    @include mixins.flex-and-center;

    padding: .1rem .75rem;

    @extend .shadow;
    border-radius: 1.5rem;

    font-size: large;
    white-space: nowrap;
    font-variant-numeric: tabular-nums;

    &>img {
      height: 2rem;

      $py: .2rem;
      /* top | right | bottom | left */
      padding: $py .5rem $py 0;
    }
  }

  &>b {
    font-size: 1.1rem;
  }

  &>.avatarBtn {
    @include mixins.button;
    @include mixins.flex-and-center;

    height: 100%;
    aspect-ratio: 1/1;

    &>img {
      height: 100%;

      @extend .shadow;
      border-radius: 50%;

      object-fit: contain;
    }
  }
}

nav+.navBarOffsetAboveBody {
  height: $navbar-height;

  flex-shrink: 0;
}
