.scrsize::after {
  content: 'xs'
}

@media (min-width: 640px) {
  .scrsize::after {
    content: 'sm'
  }
}

@media (min-width: 768px) {
  .scrsize::after {
    content: 'md'
  }
}

@media (min-width: 1024px) {
  .scrsize::after {
    content: 'lg'
  }
}

@media (min-width: 1280px) {
  .scrsize::after {
    content: 'xl'
  }
}

@media (min-width: 1536px) {
  .scrsize::after {
    content: '2xl'
  }
}
