@use '/src/mixins.scss';

.itemBlockBtn {
  @include mixins.button;

  height: 8rem;
  width: calc(100% / 2);

  border-radius: 1rem;

  text-align: unset;

  transition-duration: 0.8s;
  transition-timing-function: ease-out;

  &:hover {
    background-color: rgb(229 231 235);
  }

  & > .itemBlockBtnContent {
    height: 100%;

    padding: 1rem .5rem;

    display: flex;

    & > .itemImg {
      height: 100%;
      aspect-ratio: 1/1;

      padding: 0.8rem;
      border-radius: 20%;

      background-color: white;

      box-shadow: 0 0 1rem 0 #ccc;
    }

    & > .detail {
      height: 100%;
      width: 100%;

      margin-left: 1.5rem;

      display: flex;
      flex-direction: column;

      text-overflow: ellipsis;

      & > .title {
        margin-bottom: 0.5rem;

        font-size: large;
      }

      & > .categoryAndChef {
        flex-grow: 1;

        text-overflow: ellipsis;
      }

      & > .timeAndPrice {
        height: 1.3rem;

        display: flex;
        justify-content: space-between;

        vertical-align: middle;

        & > .time {
          @include mixins.flex-and-center;

          & > img {
            height: 100%;
          }
        }

        & > .price {
          display: flex;
        }
      }
    }
  }
}
