@use '/src/mixins.scss';

$timeAndPriceHeight: 1.3rem;

.itemBlock {
  height: 8rem;
  width: 100%;
  @include mixins.tablet {
    width: calc(100% / 2);
  }
  @include mixins.pc {
    width: calc(100% / 3);
  }
  @include mixins.pc-wide {
    width: calc(100% / 4);
  }

  border-radius: 1rem;

  position: relative;

  transition-property: background-color;
  transition-duration: 0.8s;
  transition-timing-function: ease-out;

  &:hover {
    background-color: rgb(229 231 235);
  }

  & > .itemBlockContentBtn {
    @include mixins.button;

    height: 100%;
    width: 100%;

    padding: 1rem 0.5rem;

    display: flex;

    & > .itemImg {
      height: 100%;
      aspect-ratio: 1/1;

      padding: 0.8rem;
      border-radius: 20%;

      position: relative;
      background-color: white;

      box-shadow: 0 0 1rem 0 #ccc;

      & > img {
        height: 100%;
      }

      & > .count {
        @include mixins.flex-and-center;

        $width: 1.5rem;

        width: $width;
        aspect-ratio: 1/1;

        border-radius: 50%;

        position: absolute;
        top: calc(-#{$width} / 3);
        left: calc(-#{$width} / 3);

        background-color: red;
        color: white;

        font-variant-numeric: tabular-nums;
      }
    }

    & > .detail {
      height: 100%;
      width: 100%;
      min-width: 0;

      margin-left: 1rem;
      @include mixins.notPhone {
        margin-left: 1.5rem;
      }

      display: flex;
      flex-direction: column;

      text-align: start;

      & > .title {
        margin-bottom: 0.5rem;

        font-size: large;
      }

      & > .categoryAndChef {
        min-width: 0;

        flex-grow: 1;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      & > .timeAndPrice {
        height: $timeAndPriceHeight;

        display: flex;
        justify-content: space-between;

        vertical-align: middle;

        & > .time {
          display: flex;
          align-items: center;

          & > img {
            height: 100%;

            user-select: none;
          }
        }

        & > .price {
          display: flex;
        }
      }
    }
  }
}
