@use '/src/mixins.scss';

.app {
  height: 100vh;
  min-width: 360px;

  display: flex;
  flex-direction: column;
  & * {
    color: mixins.$mtColor;
  }
}

@media (prefers-color-scheme: dark) {
  /* todo: background and text color */
}
