#app {
  height: 100vh;

  display: flex;
  flex-direction: column;

  $mtColor: #3e2d14;
  $bigoColor: #582800;
  & * {
    color: $bigoColor;
  }
}

@media (prefers-color-scheme: dark) {
  /* todo: background and text color */
}
