button {
  cursor: pointer; /* But do NOT make buttons look like links */
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  border: .2rem solid transparent;
  border-radius: 1rem;
  background-clip: content-box;
  background-color: #282c34;
}
