@mixin button {
  cursor: pointer; /* But do NOT make buttons look like links */
  background-color: unset;

  border-style: none;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  border: .2rem solid transparent;
  border-radius: 1rem;
  background-clip: content-box;
  background-color: #282c34;
}

@mixin flex-and-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
