@mixin button {
  cursor: pointer; /* But do NOT make buttons look like links */
  background-color: unset;

  border-style: none;
}

@mixin flex-and-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin timing-fast-in-slow-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

$phone: 500px;
$phoneHorizontal: 768px;
$tablet: 1280px;
$pc: 1600px;

@mixin notPhoneVertical {
  @media screen and (min-width: #{$phone}) {
    @content;
  }
}

@mixin notPhone {
  @media screen and (min-width: #{$phoneHorizontal}) {
    @content;
  }
}

@mixin phoneHorizontal {
  @media screen and (min-width: #{$phone}) and (max-width: #{$phoneHorizontal}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$phoneHorizontal}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: #{$tablet}) and (max-width: #{$pc}) {
    @content;
  }
}

@mixin pc-wide {
  @media screen and (min-width: #{$pc}) {
    @content;
  }
}
